/* Estilos para a página de checkout */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbc11;
}

.header {
    background-color: #002c2b;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    align-items: center;
    color: #333;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}

.logo img {
    height: 150px;
    margin-right: 10px;
    width: 150px;
}

.header-title {
    margin: 0;
}

.order-summary {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
}

.order-summary h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.summary-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.summary-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-container {
    display: flex;
    align-items: center;
}

.item {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.item-id,
.item-quantity {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.item-name {
    font-weight: bold;
}

.total-price {
    display: flex;
    color: #ff3d00;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 10px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-title {
    color: #002c2b;
}

.checkout-form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: #ff3d00;
    font-size: 14px;
    margin-top: 5px;
}

.sucess {
    color: #076461;
    font-size: 18px;
    margin-top: 5px;
}

#paymentMethodsFields {
    display: none;
}

#payment option[value="creditcard"]:checked~#paymentMethodsFields {
    display: block;
}

.cardNumberHolder {
    display: flex;
}

.cardNumberHolder .input-field {
    margin-right: 10px;
}

.card-details {
    display: flex;
    align-items: center;
}

.card-number {
    width: 200px;
}

.card-holder {
    width: 310px;
}

.expiry-container {
    display: flex;
}

.expiry-container .input-field {
    margin-right: 10px;
    width: 60px;
}

.cvv-field {
    width: 60px;
}

.button-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.remove-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #cc0000;
}


.btn {
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-homepage {
    background-color: #ff3d00;
    margin-right: 10px;
}

.submit-btn {
    background-color: #076461;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #002c2b;
}

.footer {
    background-color: #002c2b;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 10px;
    /* position: fixed; */
    right: 0;
    text-align: center;
}

.footer-text {
    margin: 0;
}